## Estructuras de datos, programación estructurada y funciones
- Autor: Max Cleghorn
- Fecha: 12/23/24

In [89]:
milista1 = [1,2,3,4,5]
#se cuenta: 0,1,2,3,4 desde ese orden ya que se empieza las listas se cuentan desde 0
milista1

[1, 2, 3, 4, 5]

In [90]:
milista1[4]

5

In [91]:
milista1[2]

3

In [92]:
milista1[-1]

5

In [93]:
milista2 = [5,3,2,4,1]
milista2

[5, 3, 2, 4, 1]

In [94]:
milista2.append(7)
# append es para añadir
milista2

[5, 3, 2, 4, 1, 7]

In [95]:
milista2

[5, 3, 2, 4, 1, 7]

In [96]:
milista2.pop(1)
#pop es para remover el elemento que pongas
milista2

[5, 2, 4, 1, 7]

In [97]:
milista2.sort()
#sort es para ordenar
milista2

[1, 2, 4, 5, 7]

In [98]:
milista2.sort(reverse=True)
#al poner el reverse = True se pone a la inversa
milista2

[7, 5, 4, 2, 1]

In [99]:
milista2.index(2)

3

In [100]:
# slicing
# milista2[inicio(inclusive):final(noincluido):paso]
#si el paso no se especifica por defecto es 0

In [101]:
milista2[0:2:1]

[7, 5]

In [102]:
milista2[:2]

[7, 5]

In [103]:
milista2[1:3]

[5, 4]

In [104]:
milista2[3:]

[2, 1]

In [105]:
milista2[0:3:2]

[7, 4]

In [106]:
milista2[1:6:3]

[5, 1]

In [107]:
milista2[0::3]

[7, 2]

In [108]:
milista3 = ["pera", "uva", "manzana","pera","platano"]
milista3

['pera', 'uva', 'manzana', 'pera', 'platano']

In [109]:
milista3.count("pera")

2

In [110]:
milista3.count("uva")

1

In [111]:
milista3[4] = "papaya"
#se reemplaza la que haya en esa posición
milista3

['pera', 'uva', 'manzana', 'pera', 'papaya']

In [112]:
milista4 = list((3,4,5))
#otra forma de crear una lista pero en forma de variable
milista4

[3, 4, 5]

In [113]:
midict1 = {"age":22,"name": "Diana"}
midict1

{'age': 22, 'name': 'Diana'}

In [114]:
midict1["age"]

22

In [115]:
midict1.get("last_name","no_key")

'no_key'

In [116]:
midict1.keys()
midict1

{'age': 22, 'name': 'Diana'}

In [117]:
midict1.values()
midict1

{'age': 22, 'name': 'Diana'}

In [118]:
midict2 = {"age":22,"name":"Eve","age":24 }
midict2

{'age': 24, 'name': 'Eve'}

In [119]:
midict2["age"] = 23
midict2

{'age': 23, 'name': 'Eve'}

In [120]:
midict2.items()

dict_items([('age', 23), ('name', 'Eve')])

In [121]:
var1 = 3
str(var1)

'3'

In [122]:
type(var1)

int

In [123]:
var1

3

In [124]:
len(midict1)
#permite ver la cantidad de objetos en una estructura de datos

2

In [125]:
len(milista2)

5

In [126]:
range(3)

range(0, 3)

In [127]:
var2 = range(1,5)
var2

range(1, 5)

In [128]:
lista1 = ["Diana","Eve","Alan"]
lista2 = [22,23,25]
iterable = zip(lista1,lista2)
iterable

In [129]:
iterable2 = list(iterable)
iterable2

[('Diana', 22), ('Eve', 23), ('Alan', 25)]

In [130]:
iterable2[0]

('Diana', 22)

In [131]:
iterable2[0][0]

'Diana'

In [132]:
iterable2[0][1]

22

In [133]:
print("Hello")
print("Goodbye")
print("Gone")

Hello
Goodbye
Gone

In [134]:
if "ciruela" in milista3:
    print("Esta en la lista")
else:
    print("No esta en la lista")

No esta en la lista

In [135]:
if 3<2:
    print("tres es menor que dos")
elif 3==2:
    print("Tres es igual a dos")
else:
    print("tres es mayor que dos")

tres es mayor que dos

In [137]:
if 7 in milista2:
    if 4 in milista2:
        print("todo bien")
    else:
        print("Solo esta el 7")
else:
    print("No existen")

todo bien

In [138]:
for i in milista3:
    print(i)

pera
uva
manzana
pera
papaya

In [139]:
for fruta in milista3:
    if fruta !="uva":
        print(fruta)

pera
manzana
pera
papaya

In [141]:
i = 5
while i != 0:
    print(i)
    i = i -1

5
4
3
2
1

In [144]:
def function1():
    print("Hello World")

In [145]:
function1()

Hello World

In [146]:
def function2(name):
    print(f"Hello, {name}")

In [147]:
function2("Peter")

Hello, Peter

In [149]:
def square(x):
    return x*x

In [ ]:
square(3)

el número pi es un número irracional que apróximadamente equivale a 3,14159... para calcularlo podemos usar la fórmula de Leibniz que es pi = 4*(1-1/3+1/5-1/7+1/9-...) calculamos este valor utilizando python

In [152]:
def calculate_pi(iterations):
    mipi = 0
    numerator = 1
    denominator = 1
    for k in range(iterations):
        mipi = mipi + numerator/denominator
        numerator = numerator * -1
        denominator = denominator + 2
    return 4 * mipi

In [158]:
calculate_pi(100000)

3.1415826535897198